---
import "../styles/global.css";
import logo from "../assets/icons/JJenk89.svg";
import logoBlack from "../assets/icons/JJenk89_sm_drk.svg";
import burger from "../assets/icons/burger.svg";
import cross from "../assets/icons/cross.svg";
import burgerLight from "../assets/icons/burger-light.svg";
import crossLight from "../assets/icons/cross-light.svg";
import sun from "../assets/icons/Sun-sm.svg";
import moon from "../assets/icons/Night-sm.svg";

interface Props {
	src: string;
}
---

<header>
	<a class="logo" href="/">
		<img
			src={logo.src}
			alt="JJenk89 Logo"
			width="90"
			class="dark-mode-icon"
		/>
		<img
			src={logoBlack.src}
			alt="JJenk89 Logo Black"
			width="90"
			class="light-mode-icon"
		/>
	</a>
	<nav class="desktop-nav hidden">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/contact">Get In Touch</a></li>
		</ul>
	</nav>

	<div class="mode-toggle" id="mode-toggle">
		<img
			class="sun dark-mode-icon"
			src={sun.src}
			alt="Light Mode Toggle"
			width="32"
			height="32"
			id="sun"
		/>
		<img
			class="moon light-mode-icon"
			src={moon.src}
			alt="Dark Mode Toggle"
			width="32"
			height="32"
			id="moon"
		/>
	</div>

	<div class="burger-container" id="menu-toggle">
		<!-- Dark Mode Burger -->
		<img
			class="burger dark-mode-icon"
			src={burger.src}
			alt="Menu Open Button"
			width="25"
			height="25"
			id="burgerDark"
		/>
		<!-- Light Mode Burger -->
		<img
			class="burger light-mode-icon"
			src={burgerLight.src}
			alt="Menu Open Button Light Mode"
			width="25"
			height="25"
			id="burgerLight"
		/>
		<!-- Dark Mode Cross -->
		<img
			class="hidden dark-mode-icon"
			src={cross.src}
			alt="Menu Close Button"
			width="25"
			height="25"
			id="crossDark"
		/>
		<!-- Light Mode Cross -->
		<img
			class="hidden light-mode-icon"
			src={crossLight.src}
			alt="Menu Close Button Light Mode"
			width="25"
			height="25"
			id="crossLight"
		/>
	</div>
</header>

<nav class="mobile-nav hidden">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/services">Services</a></li>
		<li><a href="/contact">Get In Touch</a></li>
	</ul>
</nav>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		background: rgba(255, 255, 255, 0);
		color: var(--colour-primary);
		padding: 1.5rem;
	}

	.logo {
		font-size: 1.5rem;
		font-weight: var(--bold);
	}

	.mode-toggle {
		margin-left: auto;
		margin-right: 15%;
	}

	.desktop-nav ul {
		list-style: none;
		display: flex;
		gap: 1rem;
	}

	.desktop-nav a {
		color: var(--colour-primary);
		font-family: var(--font-secondary);
		font-weight: var(--extra-light);
		font-style: italic;
		text-decoration: none;
	}

	.desktop-nav a:hover {
		text-decoration: underline;
	}

	.mobile-nav {
		height: 100vh;
		width: 100%;
	}

	.mobile-nav ul {
		list-style: none;
		align-items: center;
		justify-items: center;
		display: flex;
		flex-direction: column;
		gap: 5rem;
		font-family: var(--font-secondary);
		font-style: italic;
		font-weight: var(--thin);
		font-size: 2rem;
	}
</style>

<script>
	const width = window.innerWidth;
	const smallScreen = width < 500;
	const midScreen = width >= 500 && width < 1024;
	const largeScreen = width >= 1024;
	// Mobile navigation toggle
	const mobileNav = document.querySelector(".mobile-nav");
	const desktopNav = document.querySelector(".desktop-nav");
	const burger = document.querySelector("#burgerDark");
	const cross = document.querySelector("#crossDark");
	const burgerLight = document.querySelector("#burgerLight");
	const crossLight = document.querySelector("#crossLight");
	const menuLinks = document.querySelectorAll(".mobile-nav a");
	const modeToggle = document.querySelector("#mode-toggle");
	const sun = document.querySelector("#sun");
	const moon = document.querySelector("#moon");

	document.addEventListener("DOMContentLoaded", () => {
		if (smallScreen) {
			desktopNav?.classList.add("hidden");
		} else if (midScreen || largeScreen) {
			desktopNav?.classList.remove("hidden");
			burger?.classList.add("hidden");
		}
		burger?.addEventListener("click", () => {
			mobileNav?.classList.toggle("hidden");
			document.body.classList.toggle("no-scroll");
			burger?.classList.toggle("hidden");
			cross?.classList.toggle("hidden");
		});

		cross?.addEventListener("click", () => {
			mobileNav?.classList.add("hidden");
			document.body.classList.remove("no-scroll");
			burger?.classList.remove("hidden");
			cross?.classList.add("hidden");
		});

		burgerLight?.addEventListener("click", () => {
			mobileNav?.classList.toggle("hidden");
			document.body.classList.toggle("no-scroll");
			burgerLight?.classList.toggle("hidden");
			crossLight?.classList.toggle("hidden");
		});

		crossLight?.addEventListener("click", () => {
			mobileNav?.classList.add("hidden");
			document.body.classList.remove("no-scroll");
			burgerLight?.classList.remove("hidden");
			crossLight?.classList.add("hidden");
		});

		menuLinks.forEach((link) => {
			link.addEventListener("click", () => {
				mobileNav?.classList.add("hidden");
				document.body.classList.toggle("no-scroll");
				cross?.classList.add("hidden");
				burger?.classList.toggle("hidden");
			});
		});

		modeToggle?.addEventListener("click", () => {
			toggleTheme();
		});

		function toggleTheme() {
			const currentTheme =
				document.documentElement.getAttribute("data-theme");
			const newTheme = currentTheme === "dark" ? "light" : "dark";
			document.documentElement.setAttribute("data-theme", newTheme);
			localStorage.setItem("theme", newTheme);
		}

		// Initialise theme on page load from localStorage
		const savedTheme = localStorage.getItem("theme") || "light";
		document.documentElement.setAttribute("data-theme", savedTheme);
	});
</script>
